body {
    background-color: rgb(17, 12, 47);
    margin: 0;
    padding: 1rex;  
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos hijos */
    text-align: center;
    
    color: rgb(255, 255, 255);

    font-family: "Red Hat Display", sans-serif;
}

#container{
    width: 720px;
    min-width: 720px;
}
header, main, footer {
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255); /* Borde blanco */
    
}

main, footer {
    text-align: justify;
    padding: 0 1rex;
}

main{
    align-content: center;
    min-height: 600px;
    padding: 1rem .5rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rex;
}


nav {
    padding: 1rex;
}

ul p{
    padding: 0;
    margin: 0;
}

h1{
    margin-left: .5rex; 
}

h3{
    margin: 0;
}

h4{
    text-align: center;
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; /* Usa Flexbox para los elementos de la lista */
    flex-direction: row; /* Alinea los elementos de la lista en una fila */
    flex-wrap: nowrap;
    justify-content: space-around;
}
nav li {
    margin: .5rex;
    border: 2px solid rgb(255, 255, 255); /* Borde blanco */
    padding: 0 1rem;
    color: rgb(255, 255, 255); /* Color del texto blanco */
    background-color: rgb(7, 12, 27); /* Color de fondo negro para los ítems de la lista */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente dentro del li */
    justify-content: center; /* Centra el contenido horizontalmente dentro del li */
    
}
nav li a {
    text-decoration: none; /* Quita el subrayado predeterminado */
    color: rgb(255, 255, 255); /* Color del texto blanco */    
    display: block; /* Hace que el enlace ocupe todo el área del `li` */
    padding: 0; /* Quita cualquier padding predeterminado */
    margin: 0; /* Quita cualquier margen predeterminado */
}
nav ul div{
    display: flex;
    flex-direction: row;
}
#navJuegos{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav ul li{
    display: flex;
    flex-direction: column;
}

.navActivo{
    background-color: rgb(29, 69, 111);
}


#aviso_juego_no_disponible{
    text-align: center;
}

#piltripDescripcion div{
    display: flex;
    justify-content: space-around;
}

#piltripDescripcion div img{
    width: 30%;
}

#estaPagina img{
    width: 100%;
}

#imgError{
    display: block;
    margin: 0 auto;
}

#elian{
    width: 100%;
}

/*ESTILO JUEGO DE CARTAS*/
#juego_de_cartas, #juego_de_dados{
    display: flex;
    flex-flow: row nowrap;   

    justify-content: space-between;
}

#juego_de_cartas div, #juego_de_dados div{
    display: flex;
    justify-content: center;
}


#juego_de_cartas ul, #juego_de_dados{
    min-height: 20rem;
    padding-right: 1rex;

}

#columna_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
#columna_1 img{
    margin: 1rem 0;
    width: 8rem;
}

#columna_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#columna_3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cuadrosDeInfo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 2px solid rgb(255, 255, 255); /* Borde blanco */
    border-radius: .5rem;
    width: 10rem;
    max-height: 15rem;
    padding: 0 .5rex 0 1rex;
    font-size: .75rem;

    overflow-y: scroll;/*para que se estire en height con scroll */
    scrollbar-color: rgb(255, 255, 255) #222;
    scrollbar-width: thin; 
}
.cuadrosDeInfo p{
    line-height: 1.5rem;
}
.datos{
    border: 2px solid rgb(255, 255, 255); /* Borde blanco */
    border-radius: .5rem;
    width: max-content;
    padding: 0 1rex;
}
.tabla_de_puntos{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255); /* Borde blanco */
    border-radius: .5rem;
    padding: .25rem;
    width: 70%;
}

#top_1_cartas, #top_2_cartas, #top_3_cartas, #top_1_dados, #top_2_dados, #top_3_dados{
    margin: 1rem 0;
}


#espacio_mesa{
    min-height: 5rem;
    display: flex;
    align-items:end;

}
#espacio_mesa div{
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    padding: 1rem;
    width: 8rem; /*para que no achique el ancho de las img utilizadas*/
}

#vs-style{
    font-size: 2rem;
    font-weight: bold;
}

#mensaje-combate{
    margin: 0;
    padding: 0;
    display: inline;      /* Cambia el comportamiento a inline para evitar bloqueos */
    white-space: nowrap;  /*sin salto de linea*/
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;

}

#msjFinal{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#listaFinal{
    list-style: none;
    text-align: center;
    padding: 0;
}

#div_tirar{
    min-height: 1.5rem;
    margin: .3rex;
}

button {
    background-color: rgb(12, 12, 0); /* Color de fondo azul */
    color: rgb(255, 255, 255); /* Color del texto blanco */
    border: 2px solid rgb(255, 255, 255); /* Borde blanco */
    margin: .5rem;
    padding: .5rex 1rex;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    max-width: 10rem;
    min-width: max-content;
}

.btn-carta{
    border-radius: 25px;
}
.btn-carta:focus {
    outline: 2px solid rgb(255, 255, 255); /* Borde blanco cuando el enlace está enfocado */
    outline-offset: 2px; /* Espacio entre el borde y el enlace */
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-1ex); /*destaco la carta seleccionada levantandola un poco*/
    transition: transform 0.3s ease; /*tiempo de animacion para levantar*/
}

.btn-carta:hover{
    background-color: rgb(255, 255, 255);
}

#btn-apuesta-5:focus, #btn-apuesta-10:focus, #btn-apuesta-15:focus{
    outline: 2px solid rgb(255, 255, 255); /* Borde blanco cuando el enlace está enfocado */
    outline-offset: 2px; /* Espacio entre el borde y el enlace */
    background-color: rgb(255, 255, 255); /* Fondo azul oscuro */
    color: #222
}

#apostar{
    display: flex;
    flex-flow: column wrap;
    margin: 1rex;
    padding: 1.5rex;
    background-color: rgb(5, 5, 5); /* Color de fondo azul */
    color: rgb(255, 255, 255); /* Color del texto blanco */
    border: 2px solid rgb(255, 255, 255); /* Borde blanco */
    border-radius: 5px;
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* Estilo cuando el enlace está en estado hover */
nav li:hover {
    background-color: rgb(27, 27, 87); /* Color de fondo azul oscuro */
    color: rgb(255, 255, 255); /* Color blanco para el texto */
}

/* Estilo cuando el enlace está en estado focus */
nav li:focus {
    outline: 2px solid rgb(255, 255, 255); /* Borde blanco cuando el enlace está enfocado */
    outline-offset: 2px; /* Espacio entre el borde y el enlace */
    background-color: rgb(12, 12, 67); /* Fondo azul oscuro */
    color: rgb(255, 255, 255); /* Color blanco para el texto */
}

/* Efectos al pasar el cursor sobre el botón */
button:hover {
    background-color: rgb(12, 12, 67); /* Cambia el color de fondo al pasar el cursor */
}

.avisos{
    text-align: center;
}

.corona{
    width: 15%;
}

/* Adaptación del código a un teléfono */
@media (max-width: 1080px) {
    HTML{
        font-size: 30px;
    }
    body{
        padding: 0 1rem;
    }
    #container{
        width: 100%;
    }
    nav, main, footer {
        margin-top: 1rex;
        max-width: 100%; /* Elimina el ancho máximo y ajusta al 100% del ancho disponible */
    }

    footer{
        min-height: 5rex;
        margin-bottom: 1.5rex;
        margin-top: 1rex;

    }

    nav ul {
        flex-direction: column; /* Cambia la dirección de los elementos de la lista a columna */
        align-items: stretch; /* Ajusta los elementos para ocupar todo el ancho */
        padding: 0 2rex; /* Ocupa todo el ancho disponible */
    }

    #juego_de_cartas, #juego_de_dados{
        flex-direction: column-reverse;
        
    }

    #columna_1{
        flex-direction: row;
    }

    #columna_1 img{
        display: none;
    }


    #columna_3{
       align-items: center;
    }

    #columna_2 img{
        width: 5rem;
    }
    button{
        font-size: 1rem;
    }

    .cuadrosDeInfo{
        font-size: 1rem;
    }

    .cuadrosDeInfo h4{
        margin: 1rex;
    }

    #piltripDescripcion div img{
        width: 80%;
    }

    h3{
        text-align: center;
    }

    strong{
        font-weight: 500;
    }

    #top_1_cartas, #top_3_cartas, #top_2_cartas, #top_1_dados, #top_3_dados, #top_2_dados{
        margin:  0;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 1rex;
    }
    .ocultarMobile{
        display: none !important;
    }

    .corona{
        display: block;
        margin: 0 auto;
    }

    .top{
        padding: 0;
        margin-bottom: 2rem;
    }



    .datos{
        padding: 0 .5rex;
        margin: 0 .5rex;
    }


}


